@font-face {
    font-family: heartless;
    src: url(fonts/Heartless.ttf);
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
* {
    margin: 0;
    padding: 0;
    color: white;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    overflow-x: hidden;
}

#nav-bar {
    background-color: #600000;
    font-size: large;
    display: flex;
    justify-content: space-between;
}

#nav-bar ul{
    list-style-type: none;
    display: flex;
    padding: 5px;
}

#nav-bar li{
    padding: 2px 10px 0px 10px;
}

#nav-bar li:hover {
    background-color: rgb(148, 38, 38);
    border-radius: 15px;
}

/* --------------------------------- Header --------------------------------------------------------------------------- */

#header {
    background-color: #8B0000;
    display: flex;
    font-size: large;
    align-items: center;
}

#header-ul1,#header-ul2,#header-img{
    padding: 15px;
}

#header-ul1{
    list-style-type: none;
    padding-left: 1px;
}

#header-ul2{
    list-style-type: none;
    display: flex;
}

#header-ul2 li{
    padding: 10px;
    font-size:medium;
}

#header-ul2 li:hover {
    background-color: rgb(148, 38, 38);
    border-radius: 15px;
}

/* ----------------------LoginFomr----- */